{% extends 'blog/base.html' %}

{% block title %}{{ author.first_name }} {{ author.last_name }}{% endblock %}

{% block content %}
    <h2>Detalls de l'Autor</h2>
    <p><strong>Nom:</strong> {{ author.first_name }}</p>
    <p><strong>Cognom:</strong> {{ author.last_name }}</p>
    <p><strong>Adreça:</strong> {{ author.email }}</p>

    <h3 class="mt-4">Posts publicats per {{ author.first_name }} {{ author.last_name }}</h3>
    <div class="row">
        {% for post in author.posts.all %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'post-detail-page' post.slug %}" class="btn btn-primary">Llegir més</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}