{% extends 'blog/base.html' %}

{% block title %}Posts amb etiqueta {{ tag.caption }}{% endblock %}

{% block content %}
    <h2>Llistat de tots els posts amb l'etiqueta <u>{{ tag.caption }}</u></h2>
    <div class="row mt-3">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'post-detail-page' post.slug %}" class="btn btn-primary">Llegir més</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}